<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog di Luca</title>
  </head>
  <body>
        <div>
            <h1><a href="/">Blog con Django di Luca</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p> <!--il comando '|linebreaks' introduce un filtro che traduce gli accapo (la pressione del tasto "invio" sulla tastiera) nel loro equivalente in HTML. -->
            </div>
        {% endfor %}

  </body>
</html>
